<div id="<%= dom_id product %>">
  <p>
    <strong>Code:</strong>
    <%= product.code %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= product.product_name %>
  </p>

  <p>
    <strong>Unit ism:</strong>
    <%= product.unit_ism %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Expiry date to:</strong>
    <%= product.expiry_date_to %>
  </p>

</div>
